.browser-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.browser-header {
  background-color: #3367d6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7vh;
}
@media screen and (max-width: 768px) {
  .browser-header {
    justify-content: space-between;
    padding: 10px;
    height: 8vh;
    width: 100%;
  }
}
.history {
  height: 35px;
  width: 130px;
}
@media screen and (max-width: 768px) {
  .history {
    height: 20px;
    width: 70px;
  }
}
.search-cont {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .search-cont {
    padding: 5px;
  }
}
.search-btn {
  background-color: #2850a7;
  border: 1px solid #64748b;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 40px;
  width: 40px;
  outline: none;
}
@media screen and (max-width: 768px) {
  .search-btn {
    height: 30px;
    width: 30px;
    padding: 5px;
  }
}
.search {
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 768px) {
  .search {
    height: 20px;
    width: 20px;
  }
}
.search-input {
  background-color: #2850a7;
  border: 1px solid #64748b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 40px;
  width: 440px;
  color: #ffffff;
  margin-left: 2px;
  outline: none;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .search-input {
    height: 30px;
    width: 200px;
  }
}
.history-cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
@media screen and (max-width: 768px) {
  .history-cont {
    width: 100%;
    margin: 5px;
  }
}
.empty-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: 'Sans Serif';
  font-weight: bold;
  color: #64748b;
}
